<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FastAPI Dashboard</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
    <div class="page">
        <h1>FastAPI Dashboard</h1>
        <div class="buttons">
            {% for route in routes %}
                <a class="btn" href="{{ route }}/docs"><span>{{ route }}</span></a>
            {% endfor %}
        </div>
        <!-- Add the background image for parallax -->
        <img src={{image_url}} class="bg-image" />
        <div id="signature">
            <p>Developed by : <a href="https://www.moynul.com" target="_blank">Md. Moynul Islam</a></p>
            <span class="designation">Python Developer</span>
        </div>
    </div>

    <script>
    const bgImage = document.querySelector('.bg-image');
    let lFollowX = 0, lFollowY = 0, x = 0, y = 0;
    const friction = 1 / 30;

    function animate() {
        x += (lFollowX - x) * friction;
        y += (lFollowY - y) * friction;

        bgImage.style.transform = `translate(${x}px, ${y}px) scale(1.1)`;

        requestAnimationFrame(animate);
    }

    function handleMove(clientX, clientY) {
        const lMouseX = Math.max(-100, Math.min(100, window.innerWidth / 2 - clientX));
        const lMouseY = Math.max(-100, Math.min(100, window.innerHeight / 2 - clientY));
        lFollowX = (20 * lMouseX) / 100;
        lFollowY = (10 * lMouseY) / 100;
    }

    // Mouse movement for desktop
    window.addEventListener('mousemove', e => handleMove(e.clientX, e.clientY));

    // Touch movement for mobile
    window.addEventListener('touchmove', e => {
        if(e.touches.length > 0) {
            handleMove(e.touches[0].clientX, e.touches[0].clientY);
        }
    });

    animate();
    </script>
    </body>
</html>
